* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.post__container {
  display: flex;
  background-color: black;
  min-height: 330px;
  border-radius: 6px;
  padding: 30px;
  margin-top: 40px;
}
.post__container .info {
  flex: 7;
  color: #fff;
  padding: 10px;
}
.post__container .info h1 {
  width: 80%;
  color: #fff;
}
.post__container .info .buttons {
  display: flex;
  margin-top: 30px;
}
.post__container .info .buttons .google-btn {
  width: 40%;
  height: 40px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  padding: 15px 20px 15px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  font-size: 13px;
}
.post__container .info .buttons .google-btn svg {
  font-size: 30px;
}
.post__container .info .buttons .btn-site {
  width: 25%;
  margin-left: 1%;
  background: linear-gradient(
    90deg,
    #020024 0%,
    #d79315 0%,
    #ff15ac 39%,
    #ce3bbc 71%,
    #9c60cc 100%,
    #b54dc4 100%,
    #8c6cd1 100%,
    #5297e4 100%,
    #00d4ff 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 11px;
  color: #fff;
}
@media screen and (max-width: 1090px) {
  .post__container .info .buttons .google-btn {
    width: 50%;
  }
}
@media screen and (max-width: 890px) {
  .post__container .info .buttons .google-btn {
    width: 60%;
  }
  .post__container .info .buttons .btn-site {
    width: 35%;
  }
}
@media screen and (max-width: 1090px) {
  .post__container .info h1 {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .post__container .info .buttons {
    flex-direction: column;
    height: 100px;
  }
  .post__container .info .buttons .google-btn,
  .post__container .info .buttons .btn-site {
    margin: 5px auto;
    width: 60%;
  }
  .post__container .info .buttons .btn-site {
    padding: 10px;
  }
  .post__container .info .buttons .google-btn {
    width: 90%;
  }
  .post__container .info .buttons .btn-site {
    width: 90%;
  }
}
@media screen and (max-width: 730px) {
  .post__container .info {
    flex: 1;
    padding: 20px;
  }
}
.post__container .images {
  flex: 5;
  position: relative;
}
.post__container .images img {
  position: absolute;
  width: 100%;
  height: 150%;
  top: -50px;
}
@media screen and (max-width: 941px) {
  .post__container .images img {
    height: 90%;
    top: 10px;
    height: 90%;
  }
}
@media screen and (max-width: 730px) {
  .post__container .images {
    display: none;
  }
}
.about-us__container {
  margin-top: 20px;
  min-height: 500px;
  display: flex;
}
.about-us__container .img-left {
  flex: 3;
}
.about-us__container .img-left img {
  width: 100%;
  height: 100%;
}
.about-us__container .info {
  flex: 6;
  padding: 40px;
}
.about-us__container .info .info-details p {
  display: flex;
}
.about-us__container .info .info-details p i {
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: linear-gradient(
    90deg,
    #020024 0%,
    #d79315 0%,
    #ff15ac 39%,
    #ce3bbc 71%,
    #9c60cc 100%,
    #b54dc4 100%,
    #8c6cd1 100%,
    #5297e4 100%,
    #00d4ff 100%
  );
}
.about-us__container .info h1 {
  text-align: center;
  margin-bottom: 30px;
}
.about-us__container .info span {
  font-size: 12px;
  line-height: 5px;
}
@media screen and (max-width: 800px) {
  .about-us__container .info span {
    line-height: -5;
  }
}
.about-us__container .info .buttons {
  width: 40%;
  background: linear-gradient(
    90deg,
    #020024 0%,
    #d79315 0%,
    #ff15ac 39%,
    #ce3bbc 71%,
    #9c60cc 100%,
    #b54dc4 100%,
    #8c6cd1 100%,
    #5297e4 100%,
    #00d4ff 100%
  );
  margin: auto;
  margin-top: 60px;
  text-align: center;
  border-radius: 6px;
}
.about-us__container .info .buttons a {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 5px;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .about-us__container .info .buttons {
    width: 70%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .about-us__container .info .buttons {
    width: 90%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us__container .info {
    padding: 20px;
  }
}
.about-us__container .img-right {
  flex: 3;
}
.about-us__container .img-right img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .about-us__container .img-left,
  .about-us__container .info,
  .about-us__container .img-right {
    flex: 4;
  }
}
@media screen and (max-width: 750px) {
  .about-us__container {
    flex-direction: column;
  }
  .about-us__container .img-left,
  .about-us__container .info,
  .about-us__container .img-right {
    height: 500px;
  }
  .about-us__container .info {
    background-color: #f4eeee;
  }
}
/* about */
.about-us__container {
  margin-top: 20px;
  min-height: 500px;
  display: flex;
}
.about-us__container .img-left {
  flex: 3;
}
.about-us__container .img-left img {
  width: 100%;
  height: 100%;
}
.about-us__container .info {
  flex: 6;
  padding: 40px;
}
.about-us__container .info .info-details p {
  display: flex;
}
.about-us__container .info .info-details p i {
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: linear-gradient(
    90deg,
    #020024 0%,
    #d79315 0%,
    #ff15ac 39%,
    #ce3bbc 71%,
    #9c60cc 100%,
    #b54dc4 100%,
    #8c6cd1 100%,
    #5297e4 100%,
    #00d4ff 100%
  );
}
.about-us__container .info h1 {
  text-align: center;
  margin-bottom: 30px;
}
.about-us__container .info span {
  font-size: 12px;
  line-height: 5px;
}
@media screen and (max-width: 800px) {
  .about-us__container .info span {
    line-height: -5;
  }
}
.about-us__container .info .buttons {
  width: 40%;
  background: linear-gradient(
    90deg,
    #020024 0%,
    #d79315 0%,
    #ff15ac 39%,
    #ce3bbc 71%,
    #9c60cc 100%,
    #b54dc4 100%,
    #8c6cd1 100%,
    #5297e4 100%,
    #00d4ff 100%
  );
  margin: auto;
  margin-top: 60px;
  text-align: center;
  border-radius: 6px;
}
.about-us__container .info .buttons a {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 5px;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .about-us__container .info .buttons {
    width: 70%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .about-us__container .info .buttons {
    width: 90%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us__container .info {
    padding: 20px;
  }
}
.about-us__container .img-right {
  flex: 3;
}
.about-us__container .img-right img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .about-us__container .img-left,
  .about-us__container .info,
  .about-us__container .img-right {
    flex: 4;
  }
}
@media screen and (max-width: 750px) {
  .about-us__container {
    flex-direction: column;
  }
  .about-us__container .img-left,
  .about-us__container .info,
  .about-us__container .img-right {
    height: 500px;
  }
  .about-us__container .info {
    background-color: #f4eeee;
  }
}
/* about */
/* jahid work */
.work__container {
  margin-top: 80px;
  height: 60vh;
  display: flex;
}
.work__container .box {
  height: 90%;
  margin: auto 0;
  width: calc(25% - 10px);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.work__container .box img {
  border-radius: 6px;
}
.work__container .box:first-child {
  width: calc(28%);
  margin-left: 0;
}
.work__container .box:first-child .footer-1 {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
}
.work__container .box:first-child .footer-5 {
  width: 75%;
  margin-left: auto;
  height: 32%;
}
.work__container .box:nth-child(2) {
  width: calc(22% - 10px);
}
.work__container .box:nth-child(2) .footer-3 {
  width: 98%;
  margin: 0 auto;
  height: 80%;
}
.work__container .box:nth-child(3) {
  width: calc(28% - 10px);
}
.work__container .box:nth-child(3) .footer-2 {
  width: 98%;
  margin: 0 auto;
  height: calc(50% - 10px);
  margin-bottom: 10px;
}
.work__container .box:nth-child(3) .footer-4 {
  width: 98%;
  margin: 0 auto;
  height: calc(50%);
}
.work__container .box:nth-child(4) {
  width: calc(22% - 10px);
}
.work__container .box:nth-child(4) .footer-7 {
  width: 98%;
  margin: 0 auto;
  height: calc(40% - 10px);
  margin-bottom: 10px;
}
.work__container .box:nth-child(4) .footer-6 {
  width: 98%;
  margin: 0 auto;
  height: calc(60%);
}
@media screen and (max-width: 1080px) {
  .work__container .box:first-child .footer-1 {
    height: calc(50% - 10px);
  }
  .work__container .box:first-child .footer-5 {
    width: 100%;
    height: 50%;
  }
  .work__container .box:nth-child(2) .footer-3 {
    width: 98%;
    margin: 0 auto;
    height: 100%;
  }
  .work__container .box:nth-child(4) .footer-7 {
    height: calc(50% - 10px);
  }
  .work__container .box:nth-child(4) .footer-6 {
    height: calc(50%);
  }
}
@media screen and (max-width: 750px) {
  .work__container .box {
    width: calc(50% - 10px);
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .work__container .box:first-child {
    width: calc(50%);
    margin-left: 0;
  }
  .work__container .box:first-child .footer-1 {
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .work__container .box:first-child .footer-5 {
    width: 100%;
    height: 50%;
  }
  .work__container .box:nth-child(2) {
    width: calc(50% - 10px);
  }
  .work__container .box:nth-child(2) .footer-3 {
    width: 98%;
    margin: 0 auto;
    height: 100%;
  }
  .work__container .box:nth-child(3) {
    margin-left: 0;
    width: 50%;
  }
  .work__container .box:nth-child(4) {
    margin-left: 10px;
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .work__container .box {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0;
  }
  .work__container .box:first-child {
    width: 100%;
    margin-left: 0;
  }
  .work__container .box:first-child .footer-1 {
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .work__container .box:first-child .footer-5 {
    width: 100%;
    height: 50%;
  }
  .work__container .box:nth-child(2) {
    margin-top: 10px;
    width: 100%;
    height: 214px;
  }
  .work__container .box:nth-child(2) .footer-3 {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .work__container .box:nth-child(3) {
    width: 100%;
  }
  .work__container .box:nth-child(3) .footer-2 {
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .work__container .box:nth-child(3) .footer-4 {
    width: 100%;
    height: calc(50%);
  }
  .work__container .box:nth-child(4) {
    width: 100%;
    margin-left: 0;
  }
  .work__container .box:nth-child(4) .footer-7 {
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .work__container .box:nth-child(4) .footer-6 {
    width: 100%;
    height: calc(50%);
  }
}
@media screen and (max-width: 750px) {
  .work__container {
    flex-wrap: wrap;
  }
}
/* jahid work */
